# functions

## rocknroll
function _rocknoll {
  # force
  FORCE=0;

  if [ "$1" = "-f" ]; then
    FORCE=1;
  fi

  if [ $FORCE -eq 0 ]; then
    echo "=> Updating \`my\`..." &&
    git --git-dir="$HOME/my/.git" --work-tree="$HOME/my/" pull &&
    ~/my/scripts/rocknroll
  else
    ~/my/scripts/rocknroll -f
  fi
}

## quit app
quit () {
  for app in $*; do
    osascript -e 'quit app "'$app'"'
  done
}

## restart app
restart () {
  for app in $*; do
    osascript -e 'quit app "'$app'"';
    open -a $app
  done
}

## bye bye (apps which are synchronised)
byebye () {
  quit "Sublime Text" limechat iterm
}

## take an image and copy/paste it as base64 into clipboard
function base64-image-encoder {
  IMGBASE64=$(base64 $argv)
  echo "data:image/png;base64, $IMGBASE64" | pbcopy
}

## define browser
function browser {
  open -a $BROWSER $argv
}

# basic directory operations
alias ....='cd ../../..'
alias ...='cd ../..'
alias ..='cd ..'

# super user
alias _='sudo'
alias please='sudo'

# list directory contents
alias lsa='ls -lah'
alias l='ls -la'
alias ll='ls -l'
alias la='ls -lap'

alias md=mkdir
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -i'

alias filesizer='du -sc * | sort -n | tail'

# config
alias source-aliases='source ~/.aliases'
alias .profile='subl -n ~/.profile'
alias .bash_profile='subl -n  ~/.bash_profile'
alias .zshrc='subl -n  ~/.zshrc'
alias .npmrc='subl -n  ~/.npmrc'
alias .aliases='subl -n  ~/.aliases'
alias hosts='subl -n  /private/etc/hosts'
alias httpd.conf='subl -n  /private/etc/apache2/httpd.conf'
alias httpd-vhosts.conf='subl -n  /private/etc/apache2/extra/httpd-vhosts.conf'
alias php.ini='subl -n  /private/etc/php.ini'
alias .gitignore_global='subl -n  ~/.gitignore_global'
alias .gitconfig='subl -n  ~/.gitconfig'
alias network-sharing="sudo subl -n /etc/bootpd.plist"
alias dnsmasq.conf="subl -n /usr/local/etc/dnsmasq.conf"

# softwares
# alias fw='open -a /Applications/Adobe\ Fireworks\ CS5/Adobe\ Fireworks\ CS5.app/Contents/MacOS/Adobe\ Fireworks\ CS5'
# alias ai='open -a /Applications/Adobe\ Illustrator\ CS5/Adobe\ Illustrator.app/Contents/MacOS/Adobe\ Illustrator'
# alias imageoptim='open -a ImageOptim.app'

# apache
alias apache-stop='sudo apachectl graceful-stop'
alias apache-start='sudo apachectl start'
alias apache-restart='sudo apachectl restart'
alias apache-log='tail -f /var/log/apache2/error_log'

# android
alias android-inspector='adb forward tcp:9222 localabstract:chrome_devtools_remote'
alias adb-logcat='adb logcat browser:IEW "*:S"'

# update
alias rocknroll='_rocknoll'
alias brew-rocknroll='brew update && brew upgrade'

# (un)compression
alias tarls='tar -tf'
alias tgz='tar -czf'
alias untar='tar -vxf'
alias untgz='tar -vzxf'

# quicklook
alias klook='qlmanage -p "$@" >& /dev/null'

# global variable
export AURORA_BIN="/Applications/FirefoxAurora.app/Contents/MacOS/firefox"
export BROWSER=$AURORA_BIN
export EDITOR="subl"
export SVN_EDITOR="vim"

# colours
export TERM=xterm-256color
export GREP_OPTIONS='--color=auto' GREP_COLOR='1;32'
export CLICOLOR=1

# display
DISPLAY=:0.0; export DISPLAY

# github
alias fake-github-connection='ssh -N git@github.com'

# git / svn
alias git-svn-pull='git svn rebase'
alias git-svn-push='git svn rebase && git svn dcommit'

# macosx
alias fuckyoudock='killall Dock'

# no correct
alias sshfs='nocorrect sshfs'

# no glob
alias jake='noglob jake'

# my
alias my='subl $MY'

# ease
alias s='subl .'
alias flush-dns='dscacheutil -flushcache'
alias dropbox='cd ~/Dropbox'


