# basic directory operations
# alias ....='cd ../../..'
# alias ...='cd ../..'
# alias ..='cd ..'

# super user
alias _='sudo'
# alias please='sudo'

# list directory contents
alias lsa='ls -lah'
alias l='ls -la'
alias ll='ls -l'
alias la='ls -lap'

# ease folder creation
alias md=mkdir

# verbose
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -i'

# show folders size
alias filesizer='du -sc * | sort -n | tail'

# config
alias source-aliases='source ~/.aliases'
alias .profile='subl -n ~/.profile'
# alias .bash_profile='subl -n  ~/.bash_profile'
alias .zshrc='subl -n  ~/.zshrc'
alias .zshrc_local='subl -n  ~/.zshrc_local'
alias .npmrc='subl -n  ~/.npmrc'
alias .aliases='subl -n  ~/.aliases'
alias hosts='subl -n  /private/etc/hosts'
# alias httpd.conf='subl -n  /private/etc/apache2/httpd.conf'
# alias httpd-vhosts.conf='subl -n  /private/etc/apache2/extra/httpd-vhosts.conf'
alias php.ini='subl -n  /private/etc/php.ini'
alias .gitignore_global='subl -n  ~/.gitignore_global'
alias .gitconfig='subl -n  ~/.gitconfig'
alias .gitconfig_local='subl -n  ~/.gitconfig_local'
alias network-sharing="sudo subl -n /etc/bootpd.plist"
alias dnsmasq.conf="subl -n /usr/local/etc/dnsmasq.conf"

# softwares
# alias fw='open -a /Applications/Adobe\ Fireworks\ CS5/Adobe\ Fireworks\ CS5.app/Contents/MacOS/Adobe\ Fireworks\ CS5'
# alias ai='open -a /Applications/Adobe\ Illustrator\ CS5/Adobe\ Illustrator.app/Contents/MacOS/Adobe\ Illustrator'
# alias imageoptim='open -a ImageOptim.app'

# apache
# alias apache-stop='sudo apachectl graceful-stop'
# alias apache-start='sudo apachectl start'
# alias apache-restart='sudo apachectl restart'
# alias apache-log='tail -f /var/log/apache2/error_log'

# android
alias android-inspector='adb forward tcp:9222 localabstract:chrome_devtools_remote'
alias adb-logcat='adb logcat browser:IEW "*:S"'

# ios
alias ios-simulator="open -a /Applications/Xcode.app/Contents/Applications/iPhone\ Simulator.app"

# (un)compression
alias tarls='tar -tf'
alias tgz='tar -czf'
alias untar='tar -vxf'
alias untgz='tar -vzxf'

# quicklook
alias klook='qlmanage -p "$@" >& /dev/null'

# github
# alias fake-github-connection='ssh -N git@github.com'

# git / svn
# alias git-svn-pull='git svn rebase'
# alias git-svn-push='git svn rebase && git svn dcommit'

# macosx
alias fuckyou-dock='killall Dock'
alias fuckyou-finder='killall Finder'

# ease
alias s='subl .'
alias s-add='subl -a'
alias s-node='subl -a node_modules'
alias flush-dns='sudo discoveryutil mdnsflushcache;sudo discoveryutil udnsflushcaches;'
alias reload-shell='exec $SHELL'
alias gem-back='gem pristine --all --only-executables'
alias fuck='sudo $(fc -ln -1)'

# no correct
alias sshfs='nocorrect sshfs'

# no glob
alias jake='noglob jake'
alias npm='noglob npm'

