[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  # editor       = subl -n -w
  editor = nvim
  excludesfile = ~/.gitignore_global
  hooksPath = ~/my/git/hooks
	ignoreCase = true
	pager = diff-so-fancy | less --tabs=4 -RFX
[branch]
  autosetuprebase = always
[push]
  # default = tracking
  default = simple
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[fetch]
  prune = true
[rebase]
  autosquash = true
[commit]
  verbose = true
[merge]
  ff = false
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[include]
  path = .gitconfig_local
[pull]
  rebase = true
[init]
  defaultBranch = main
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
  markIgnoredLines = true
  markUnblamableLines = true
[alias]
  aa = add -A
  aac = "!git add -A && git commit"
  add-plus = "!git ls-files -m -o --exclude-standard|fzf --print0 -m --preview-window right:75%  --preview 'git diff --color=always {}'|xargs -0 -t -o git add"
  aicommit = "!aicommits"
  apc = "!git add -p && git commit"
  br = branch
  branchv = branch -v
  branches = branch -avv
  bs = branch-select
  ci = commit
  cleanup = "!git remote prune origin && git repack && git gc"
  co = checkout
  dc = diff --cached
  df = diff
  # diff-plus = "!git diff --color|diff-so-fancy"
  export = "!git clone --depth 1 $1 && rm -rf \"$(basename $1 .git)/.git\" -"
  fix = "!git add -A && git commit --amend --no-edit"
  gu = "!gitup open ."
  history = reflog --relative-date
  hotfix = "!git add -A && git commit -m '🚒'"
  ign = ls-files -o -i --exclude-standard
  last = log -1 HEAD
  lazy = "!lazygit"
  lg = log -p
  lgb = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  open-modified = "!$EDITOR $(git status --porcelain | cut -c4-)"
  browse = "!gh browse"
  polish = "!git add -A && git commit -m '💅'"
  pr = "!gh pr create --fill \"\""
  pt = "!git push && git push --tags"
  recommit = commit --amend
  reset-soft-last = reset --soft HEAD~1
  rmdf = "!git rm $(git ls-files --deleted)"
  show-commands = "!git config --get-regexp alias|sed \"s/alias.\\([a-zA-Z-]*\\) \\(\\.\\)*/$(tput setaf 2)\\1 $(tput setaf 0)\\2/\""
  sm = "!'/Applications/Sublime Merge.app/Contents/SharedSupport/bin/smerge' ."
  st = status
  tig = "!tig"
  tools = "!echo '• gh\n• hub\n• lazygit\n• tig\n• ghi'"
  unstage = reset HEAD --
  unstash = stash pop
  unwip = "!git reset --soft HEAD~1 && git unstage"
  wip = "!git add -A && git commit -m '🚧 WIP'"
[interactive]
	diffFilter = diff-so-fancy --patch
