[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  editor = nvim
  excludesfile = ~/.gitignore_global
  # hooksPath = ~/my/git/hooks
  ignoreCase = true
  # pager = diff-so-fancy | less --tabs=4 -RFX
  pager = delta
  attributesfile = ~/.gitattributes
[branch]
  autosetuprebase = always
[push]
  # default = tracking
  default = simple
  autoSetupRemote = true
[filter "hawser"]
  clean = git hawser clean %f
  smudge = git hawser smudge %f
  required = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[fetch]
  prune = true
[rebase]
  autosquash = true
[commit]
  verbose = true
[merge]
  ff = false
  conflictstyle = diff3
  tool = smerge
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[include]
  path = .gitconfig_local
[pull]
  rebase = true
[init]
  defaultBranch = main
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
  markIgnoredLines = true
  markUnblamableLines = true
[interactive]
  # diffFilter = diff-so-fancy --patch
  diffFilter = delta --color-only
[delta]
  features = mellow-barbet
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true for terminals with light background colors (e.g. the default macOS terminal)
  line-numbers = true
  side-by-side = true
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
  true-color = always
  plus-style = syntax "#003800"
  minus-style = syntax "#3f0001"
[delta "mellow-barbet"]
  dark = true
  syntax-theme = base16
  line-numbers = true
  side-by-side = true
  file-style = brightwhite
  file-decoration-style = none
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  hunk-header-decoration-style = "#3e3e43" box ul
  plus-style = brightgreen black
  plus-emph-style = black green
  minus-style = brightred black
  minus-emph-style = black red
  line-numbers-minus-style = brightred
  line-numbers-plus-style = brightgreen
  line-numbers-left-style = "#3e3e43"
  line-numbers-right-style = "#3e3e43"
  line-numbers-zero-style = "#57575f"
  zero-style = syntax
  whitespace-error-style = black bold
  blame-code-style = syntax
  blame-palette = "#161617" "#1b1b1d" "#2a2a2d" "#3e3e43"
  merge-conflict-begin-symbol = ~
  merge-conflict-end-symbol = ~
  merge-conflict-ours-diff-header-style = yellow bold
  merge-conflict-ours-diff-header-decoration-style = "#3e3e43" box
  merge-conflict-theirs-diff-header-style = yellow bold
  merge-conflict-theirs-diff-header-decoration-style = "#3e3e43" box
[diff]
  colorMoved = default
[diff "image"]
  command = ~/my/modules/git-diff-image/git_diff_image
[mergetool "smerge"]
  cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
  trustExitCode = true
[alias]
  aa = add -A
  aac = "!git add -A && git commit"
  add-plus = "!git ls-files -m -o --exclude-standard|fzf --print0 -m --preview-window right:75%  --preview 'git diff --color=always {}'|xargs -0 -t -o git add"
  aicommit = "!opencommit"
  apc = "!git add -p && git commit"
  br = branch
  branches = branch -avv
  branches-delete = branch-delete
  branchv = branch -v
  branch-select-fzf = "!git checkout $(git branch | fzf)"
  browse = "!gh browse"
  bs = branch-select
  ci = commit
  cleanup = "!git remote prune origin && git repack && git gc"
  co = checkout
  dash = "!gh dash"
  dc = diff --cached
  df = diff
  diff-alt = "!git diff --color|diff-so-fancy"
  diff-image = "!f() { cd -- \"${GIT_PREFIX:-.}\"; GIT_DIFF_IMAGE_ENABLED=1 git diff \"$@\"; }; f"
  diff-split = "!git diff --color \"$@\" | git-split-diffs --color"
  dfs = "!git diff --color \"$@\" | git-split-diffs --color"
  export = "!git clone --depth 1 $1 && rm -rf \"$(basename $1 .git)/.git\" -"
  fix = "!git add -A && git commit --amend --no-edit"
  history = reflog --relative-date
  hotfix = "!git add -A && git commit -m '🚒'"
  ign = ls-files -o -i --exclude-standard
  last = log -1 HEAD
  lazy = "!lazygit"
  lg = log -p
  lgb = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  open-modified = "!$EDITOR $(git status --porcelain | cut -c4-)"
  polish = "!git add -A && git commit -m '💅'"
  pr = "!gh pr create"
  pt = "!git push && git push --tags"
  recommit = commit --amend
  reset-soft-last = reset --soft HEAD~1
  rmdf = "!git rm $(git ls-files --deleted)"
  show-commands = "!git config --get-regexp alias|sed \"s/alias.\\([a-zA-Z-]*\\) \\(\\.\\)*/$(tput setaf 2)\\1 $(tput setaf 0)\\2/\""
  sm = switch-main
  smerge = "!'/Applications/Sublime Merge.app/Contents/SharedSupport/bin/smerge' ."
  st = status
  tig = "!tig"
  tools = "!echo '• gh\n• lazygit\n• tig'"
  uncommit = undo
  unstage = reset HEAD --
  unstash = stash pop
  unwip = "!git reset --soft HEAD~1 && git unstage"
  wip = "!git add -A && git commit -m '🚧 WIP'"
